<div class="row">
    <div class="col-12">
        <div class="card img-fluid z-depth-1">
            <div class="text-white text-center cuerpo">
                <!-- Content -->
                <div class="text-white text-center mt-5 animated fadeIn">
                    
                    <div class="row">
                       <div class="col-sm-12 col-md-8">
                            <h3 class="card-title h3-responsive font-bold mt-5">BIENVENIDOS AL SISTEMA DE INSCRIPCIÓN EXAMEN DE ADMISIÓN DE POSGRADO-UNSCH 2020-I</h3>
                            <!-- <a mdbBtn gradient="peach" mdbWavesEffect >Inicio</a> -->
                            <div class=" row justify-content-center">
                                <div class="logo">                           
                                    <img src="../../../assets/img/logos/logo2.png" alt="">
                                </div>
                            </div>
                       </div>
                        
                       <div class="col-sm-12 col-md-4 dordeado text-center">
                            <div class="row justify-content-start botones">
                               
                                <p class="text-center text-white m-5 text-uppercase">INICIAR PROCESO DE INSCRIPCION PARA EXAMEN </p>
                                    <a type="button" class="btn btn-block" mdbBtn color="indigo" mdbWavesEffect routerLink="/Posgrado-unsch/Inscripcion/Inicio">GENERAR ESQUELA DE PAGO</a>
                                    <a type="button" class="btn btn-block" mdbBtn color="indigo" mdbWavesEffect (click)="basicModal.show()">VOLVER A IMPRIMIR ESQUELA DE PAGO</a>
                                
                                <p class="text-center text-white m-5 text-uppercase">ESTE PASo SE REALIZA 24 HORAS DESPUES DE REALIZAR EL PAGO</p>
                                    <a type="button" class="btn btn-block" mdbBtn color="indigo" mdbWavesEffect (click)="basicModal2.show()">GENERAR FICHA DE INSCRIPCIÓN</a>
                                    <a type="button" class="btn btn-block" mdbBtn color="indigo" mdbWavesEffect (click)="basicModal4.show()">VOLVER A IMPRIMIR INSCRIPCIÓN</a>
                                
                            </div>
                            
                            <!-- <a type="button" mdbBtn color="danger" mdbWavesEffect [routerLink]="['/Posgrado-unsch/Reportes/General']">REPORTES</a> -->
                            <p class="text-white mt-5">V. 1.13.3</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100" id="myModalLabel">ESQUELA DE PAGO</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="form6" class="form-control" [(ngModel)]="dni" />
                            <label for="form6">DNI</label>
                        </div>
                    </div>
                </div>

                <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="buscarDni()">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #basicModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal2.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100 text-center" id="myModalLabel">VALIDAR PAGO</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="form7" class="form-control" [(ngModel)]="buscar1.dni" />
                            <label for="form7">DNI</label>
                        </div>
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="form8" class="form-control" [(ngModel)]="buscar1.numoperacion" />
                            <label for="form8">N° de Operación</label>
                        </div>
                    </div>
                </div>

                <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="buscarOperacion(basicModal2,basicModal3)">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #basicModal4="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal4.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100 text-center" id="myModalLabel">VOLVER A IMPRIMIR INSCRIPCIÓN</h4>
            </div>
            <div class="modal-body">
                <P>Realiza esta operación solo si se a registrado los datos haciendo click en el boton
                    <strong>INCRIPCIÓN</strong> y aver guardado su inscripción correctamente*</P>
                <div class="row">
                    <div class="col-12">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="form20" class="form-control" [(ngModel)]="buscar2.dni" />
                            <label for="form20">DNI</label>
                        </div>
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="form21" class="form-control" [(ngModel)]="buscar2.numoperacion" />
                            <label for="form21">N° de Operación</label>
                        </div>
                    </div>
                </div>

                <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="recuperarOperacion(basicModal4)">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #basicModal3="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal3.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100 text-center" id="myModalLabel">INFORMACIÓN DE PAGO</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <span> <strong>NOMBRE: </strong> {{pago.postulante}}</span> <br>
                        <span> <strong>DNI: </strong> {{pago.dni}}</span> <br>
                        <span> <strong>OPERACIÓN: </strong> {{pago.nrooperacion}}</span> <br>
                        <span> <strong>MONTO: </strong> {{pago.monto}}</span> <br>
                        <span> <strong>FECHA: </strong> {{pago.fecha| date:'medium'}}</span> <br>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="ingresar()">GENERAR FICHA</button>
                <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="cancelado(basicModal2,basicModal3)">CANCELAR</button>

            </div>
        </div>
    </div>
</div>