div.card {
    background: url('../../../assets/img/backgrounds/forest1.png');
    filter: alpha(opacity=50);
    height: 800px;
    width: 100%;
}

h3 {
    color: white;
    margin-top: 200px!important;
}

p {
    font-weight: 700;
    margin-bottom: 0!important;
}
.botones {
    // margin-top: 150px;
    .btn-block {
        margin: 10px;
    }
}

.dordeado {
    border-style: none none none double;

}
.logo {
    img {
        width: 45%;
        height: 85%;
    }
}
@media screen and (max-width:620px) {
    h3 {
        margin-top: 10px!important;
    }
    .dordeado {
        border-style: double none none none;
    
    }
}