<div class="container">
    <h2 class="text-center text-uppercase"> ESQUELA DE PAGO: DATOS DEL POSTULANTE</h2>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 elevation">
            <h4 class="text-center">DATOS PERSONALES</h4>
            <form [formGroup]="validatingForm" (ngSubmit)="crearInscripcion(validatingForm.value)">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="form1" class="form-control uppercase" formControlName="apellido" />
                            <label for="form1">Apellidos</label>
                            <mdb-error *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">Campo requerido
                            </mdb-error>
                        </div>
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="form4" class="form-control" formControlName="dni" />
                            <label for="form4">DNI</label>
                            <mdb-error *ngIf="validatingForm.controls['dni'].errors?.minlength || validatingForm.controls['dni'].errors?.maxlength">
                                DNI no valido</mdb-error>
                        </div>
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="form8" class="form-control" value="@gmail.com" (keyup)="validarCorreo($event)" formControlName="correo" />
                            <label for="form8">Gmail(exteción:...@gmail.com)</label>
                            <div *ngIf="validatingForm.get('correo').errors && validatingForm.get('correo').touched">
                                <mdb-error *ngIf="validatingForm.get('correo').hasError('required')">
                                    correo requerido</mdb-error>
                                <mdb-error *ngIf="validatingForm.get('correo').invalid && validatingForm.get('correo').errors.pattern">
                                    correo invalido</mdb-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="form3" class="form-control" formControlName="nombre" />
                            <label for="form3">Nombre</label>
                            <mdb-error *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">Campo requerido</mdb-error>
                        </div>
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="form7" class="form-control" formControlName="telefono" />
                            <label for="form7">Telefono</label>
                            <mdb-error *ngIf="validatingForm.controls['telefono'].errors?.minlength || validatingForm.controls['telefono'].errors?.maxlength">
                                Telefono no valido</mdb-error>

                            <div *ngIf="validatingForm.get('telefono').errors && validatingForm.get('telefono').touched">
                                <mdb-error *ngIf="validatingForm.get('telefono').hasError('required')">
                                    Telefono requerido</mdb-error>
                            </div>
                        </div>
                        <mdb-select [options]="sexos" formControlName="sexo" placeholder="Seleccione sexo"></mdb-select>
                        <!-- <label>Example label</label> -->
                    </div>
                    <!-- <div class="col-12">
            
          </div> -->
                </div>
                <div class="row">
                    <div class="col-3">
                        <button type="submit" mdbBtn color="primary" mdbWavesEffect [disabled]="!validatingForm.valid">Siguiente</button>
                    </div>
                    <div class="col-9">
                        <p>
                            *Este boton se desbloqueará cuando todos los campos estén llenados correctamente
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>