table {
    margin: 0!important;
    display: table;
}
th,td {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    height: 10px;
}
table.table td, table.table th {
    padding-top:0;
    padding-bottom:0;
}
.modal-footer {
    display: block;
    
}