<div class="container">
  <h2 class="text-center text-uppercase"> ESQUELA DE PAGO: DATOS DEL POSTULANTE</h2>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 elevation">
      <h4 class="text-center">DATOS DE ESPECIALIDAD</h4>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 mt-2">
          <h6 class="text-center mt-4">SEDE DE POSTULACIÓN</h6>
          <select #opcionCedes (change)="seleccionSede(opcionCedes.value)">
            <option disabled="disabled">-Seleccionar su sede-</option>
            <option *ngFor="let item of sedes" [value]="item.value">{{item.label}}</option>
          </select>

          <h6 class="text-center">TIPO DE ESTUDIO</h6>
          <select class="mdb-select colorful-select dropdown-dark" #estudio (change)="selectestudios(estudio.value) ">
            <option disabled="disabled">-Seleccione Estudios-</option>
            <option *ngFor="let item of estudios" [value]="item.value">
              {{item.label | uppercase}}
            </option>
          </select>
        </div>

        <div class="col-sm-12 col-md-6 mt-2">
          <h5 class="text-center">MODALIDAD</h5>
          <select class="mdb-select colorful-select dropdown-dark" #modalidad
            (change)="selectmodalidades(modalidad.value) ">
            <option disabled="disabled">-Seleccione Modalidad de Admisión-</option>
            <option *ngFor="let item of modalidades" [value]="item.label">
              {{item.label | uppercase}}
            </option>
          </select>
        </div>
        <hr>
        <br>
        <div class="col-12 mt-5" *ngIf="ocultar">
          <h5 class="text-center">SELECCIONE LA MAESTRÍA QUE VA A POSTULAR</h5>
          <select class="mdb-select colorful-select dropdown-dark" #facultad (change)="selectFacultad(facultad.value) ">
            <option class="mostrar" disabled="disabled">-Seleccione Unidad de Posgrado-</option>
            <option class="mostrar" *ngFor="let item of facultades" [value]="item.value">
              {{item.label | uppercase}}
            </option>
          </select>
        </div>
        <div class="col-12 mt-4" *ngIf="ocultar">
          <select class="mdb-select colorful-select dropdown-dark" #maestria (change)="selectmaestria(maestria.value) ">
            <option disabled="disabled">-Seleccione Maestría-</option>
            <option *ngFor="let item of maestrias" [value]="item.value">
              {{item.label | uppercase}}
            </option>
          </select>
        </div>
        <div class="col-12 mt-4">
          <select class="mdb-select colorful-select dropdown-dark" #mencion (change)="selectmenciones(mencion.value) ">
            <option disabled="disabled">-Seleccione Mención-</option>
            <option *ngFor="let item of menciones" [value]="item.idmencion">
              {{item.denominacion}}
            </option>
          </select>
          <br>
        </div>
        <div class="row justify-content-center mt-4">
          <div class="col-12">
            <span class="text-center">MONTO A PAGAR: {{montoapagar}}</span>
          </div>
          <div class="col-6 mt-2">
            <!-- <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="SabeOrUpdateModalidades()">Guardar</button> -->
            <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="basicModal.show()">Aceptar</button>
          </div>
          <div class="col-6 mt-2">
            <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="salirPagina()">Salir</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-center" id="myModalLabel">DATOS LLENADOS</h4>
      </div>
      <div class="modal-body">
        <div class=" row justify-content-center">
          <div class="col-12">
            <table mdbTable responsive="true" bordered="true">
              <tbody class="red darken-4">
                <tr>
                  <th>Postulante</th>
                  <td>{{persona.apellido}}, {{persona.nombre}}</td>
                </tr>
                <tr>
                  <th>DNI</th>
                  <td>{{persona.dni}}</td>
                </tr>
                <tr>
                  <th>Sede</th>
                  <td>{{esquela.sede}}</td>
                </tr>
                <tr>
                  <th>Modalidad</th>
                  <td>{{esquela.modalidad}}</td>
                </tr>
                <tr>
                  <th>Tipo de Estudio</th>
                  <td>{{esquela.tipoestudio | estudios}}</td>
                </tr>
                <tr>
                  <th>Monto</th>
                  <td>{{esquela.monto}}.00 Soles</td>
                </tr>
                <tr>
                  <th>Mención</th>
                  <td>{{esquela.idmencion | mencion}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-4 ">
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="Cancelar()"
              mdbWavesEffect>Corregir</button>
          </div>
          <div class="col-4 offset-4">
            <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
              (click)="SabeOrUpdateModalidades()">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
