h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    padding-left: 5px;
    border: 1px solid black;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.derecha {
    text-align: right;
}

.header {
    display: grid;
    grid-template-columns: 15% 75%;
}
.logo {
    img {
        width: 45%;
        height: 70%;
    }
}