<div class="container elevation">
        <div id="imprimirpfg">
            <div class="header">
                <div class="logo">
                    <img src="../../../../assets/img/logos/logo-unsch.png" alt="">
                </div>
                <h2 class="text-center">UNIVERSIDAD NACIONAL DE SAN CRISTOBAL DE HUAMANGA</h2>
            </div>
            <h3 class="text-center">ESCUELA DE POSGRADO</h3>
            <h3 class="text-center">CONCURSO DE ADMISIÓN A POSGRADO 2020-I</h3>
            <h4 class="text-center text-uppercase"> ESQUELA DE PAGO N°{{persona.nroesquela}}</h4>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-7">
                    <table>
                        <tbody>
                            <tr>
                                <th>POSTULANTE</th>
                                <td>{{persona.idpostulante.apellido |uppercase}}, {{persona.idpostulante.nombre | titlecase }}</td>
                            </tr>
                            <tr>
                                <th>DNI</th>
                                <td>{{persona.idpostulante.dni}}</td>
                            </tr>
                            <tr>
                                <th>Tipo de estudios</th>
                                <td>{{persona.tipoestudio |estudios}}</td>
                            </tr>
                            <tr>
                                <th>Modalidad</th>
                                <td>{{persona.modalidad |uppercase}}</td>
                            </tr>
                            <tr>
                                <th>Sección de posgrado</th>
                                <td>{{persona.idmencion.idfacultad.facultad |uppercase}}</td>
                            </tr>
                            <tr>
                                <th *ngIf="persona.idmencion.idmencion !== 8">Maestría</th>
                                <th *ngIf="persona.idmencion.idmencion === 8">Doctorado</th>
                                <td>{{persona.idmencion.idfacultad.denominacion |uppercase}}</td>
                            </tr>                            
                            <tr>
                                <th>Mención</th>
                                <td>{{persona.idmencion.denominacion |uppercase}}</td>
                            </tr>
                            <tr>
                                <th>Sede</th>
                                <td>{{persona.sede |uppercase}}</td>
                            </tr>
                            <tr>
                                <th>Periodo de pago</th>
                                <td>Normal: 13/Mayo/2020 hasta el 27/Mayo/2020</td>
                            </tr>
                            <tr>
                                <th>Periodo de inscrípción</th>
                                <td>Día siguiente después del deposito hasta el 28/Mayo/2020</td>
                            </tr>
                            <tr>
                                <th>Lugar de depósito</th>
                                <td>
                                    <ul>
                                        <li>Cooperativa de Ahorro y crédito Santa María Magdalena (todas sus agencias)</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Por derecho de inscripción</th>
                                <td class="derecha">
                                    {{persona.monto}} Soles
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="derecha">========</td>
                            </tr>
                            <tr>
                                <th>TOTAL A DEPOSITAR:S/.</th>
                                <td class="derecha">{{persona.monto}} Soles</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <!-- <h2 class="text-center">ÉSTE ES SU NÚMERO DE ESQUELA DE PAGO 2807 </h2> -->
                    <!-- <h5 class="text-center">Éste NÚMERO le sera solicitado al momento de su INSCRIPCIÓN y DEBE FIGURAR en el comprobante de pago que la agencia bancaria le emitirá al realizar el depósito respectivo</h5> -->
                    <h6 class="text-center">La obtención de Esquela de Pago <strong>NO CONSTITUYE INSCRIPCIÓN</strong> para participar del concurso de admisión a posgrado debe ingresar de nuevo a www.posgrad-unsch.edu.pe a partir del día siguiente de realizar el pago correspondiente
                        y realizar su inscripción</h6>
                </div>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 offset-2">
                <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="createPDF()">Descargar</button>
            </div>
            <div class="col-4">
                <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="salirPagina()">Salir</button>
            </div>
        </div>

</div>