// .header {
//     display: grid;
//     grid-template-columns: 15% 75%;
// }

.logo {
    img {
        width: 100%;
        // height: 70%;
    }
}

table {
    th {
        text-align: center;
        font-weight: 700;
        background: crimson;
    }
    .numero {
        width: 20px;
    }
    .dni {
        width: 120px;
    }
}

.selector {
    display: grid;
    grid-template-columns: 70% 30%;

    input {
        width: 50%;
        text-align: center;
        font-weight: 600;
    }
}

.rojo {
    color: red;
}
.chekeado {
    display: block;
    font-weight: 600;
}
.colorVerde {
    background: rgb(128, 228, 153);
    color: rgb(49, 17, 192);
}
