<!-- Nav tabs -->
<mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-4 pills-secondary danger-color margin'" [contentClass]="''">
  <!--Panel 1-->
  <mdb-tab heading="Aptops">
    <div class="row">
      <div class="col-12">
        <br>
        <div class="row">
          <div class="col-6">
            <h6 class="text-center">SEDE DE POSTULACIÓN</h6>
            <select #opcionCedesaptos (change)="seleccionSedeAptos(opcionCedesaptos.value)">
              <option disabled="disabled">-Seleccionar su sede-</option>
              <option *ngFor="let item of sedes" [value]="item.value">{{item.label}}</option>
            </select>
          </div>
          <div class="col-6">
            <h6 class="text-center">MENCION</h6>
            <select #mencionaptos (change)="selectmencionesAptos(mencionaptos.value)">
              <option disabled="disabled">-Seleccione Mención-</option>
              <option *ngFor="let item of menciones" [value]="item.idmencion">
                {{item.mencion}}
              </option>
            </select>
          </div>



        </div>
        <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="buscar()">BUSCAR</button>
        <div *ngIf="tabla1">
          <div id="imprimiraptos">
            <div class="header">
              <div class="logo">
                <img src="../../../../assets/img/logos/posgrado.jpg" alt="">
              </div>
            </div>

            <h4 class="text-center text-uppercase"> FACULTAD DE {{facultad1}}</h4>
            <h4 class="text-center text-uppercase"> MENCIÓN EN {{mencion1}}</h4>
            <h4 class="text-center text-uppercase"> RELACIÓN DE POSTULANTES APTOS</h4>



            <table mdbTable striped="true" bordered="true">
              <thead>
                <tr>
                  <th class="numero" scope="col">N°</th>
                  <th class="dni" scope="col">DNI</th>
                  <th scope="col">APELLIDOS Y NOMBRE</th>
                </tr>
              </thead>
              <tbody>
                <tr mdbTableCol *ngFor="let item of postulantes; let i=index">
                  <td class="numero" scope="row">{{i +1}}</td>
                  <td class="dni">{{item.dni}}</td>
                  <td>{{item.postulante | uppercase}}</td>
                </tr>
              </tbody>
            </table>

          </div>

          <div class="row justify-content-center">
            <div class="col-4 offset-2">
              <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="createPDFaptos()">Descargar</button>
            </div>
            <div class="col-4">
              <!-- <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="salirPagina()">Salir</button> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </mdb-tab>
  <!--Panel 2-->
  <mdb-tab heading="Salon">
    <div class="row">
      <div class="col-12">
        <br>
        <div class="row">
          <div class="col-6">
            <div class="md-form">
              <input mdbInput type="text" id="salon1" [(ngModel)]="salon" name="salon" class="form-control">
              <label for="salon1">SALÓN</label>
            </div>

            <h6 class="text-center">SEDE DE POSTULACIÓN</h6>
            <select #opcionCedessalon (change)="seleccionSedeSalon(opcionCedessalon.value)">
              <option disabled="disabled">-Seleccionar su sede-</option>
              <option *ngFor="let item of sedes" [value]="item.value">{{item.label}}</option>
            </select>
          </div>
          <div class="col-6">
            <div class="md-form">
                <input mdbInput type="text" id="grupo" [(ngModel)]="grupo" name="grupo" class="form-control">
                <label for="grupo">GRUPO</label>
              </div>
            <h6 class="text-center">MENCION</h6>
            <select #mencionsalon (change)="selectmencionesSalon(mencionsalon.value)">
              <option disabled="disabled">-Seleccione Mención-</option>
              <option *ngFor="let item of menciones" [value]="item.idmencion">
                {{item.mencion}}
              </option>
            </select>
          </div>



          <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="buscar()">GENERAR GRUPO</button>
        </div>
        <div *ngIf="tabla1">
          <div id="imprimirsalon">
            <div class="header">
              <div class="logo">
                <img src="../../../../assets/img/logos/posgrado.jpg" alt="">
              </div>
            </div>

            <h4 class="text-center text-uppercase"> FACULTAD DE {{facultad2}}</h4>
            <h4 class="text-center text-uppercase"> MENCIÓN EN {{mencion2}}</h4>
            <h4 class="text-center text-uppercase"> LISTA DE SALON Y HORARIO</h4>



            <table mdbTable striped="true" bordered="true">
              <thead>
                <tr>
                  <th class="numero" scope="col">N°</th>
                  <th class="dni" scope="col">DNI</th>
                  <th scope="col">APELLIDOS Y NOMBRE</th>
                  <th class="dni" scope="col">AULA</th>
                  <th class="dni" scope="col">GRUPO</th>
                  <th class="dni" scope="col">HORA</th>
                </tr>
              </thead>
              <tbody>
                <tr mdbTableCol *ngFor="let item of postulantes; let i=index">
                  <td class="numero" scope="row">{{i +1}}</td>
                  <td class="dni">{{item.dni}}</td>
                  <td class="postula">{{item.postulante | uppercase}}</td>
                  <td class="numero">{{salon}}</td>
                  <td class="numero">{{grupo}}</td>
                  <td class="numero" scope="row">{{i | horario}}</td>
                </tr>
              </tbody>
            </table>

          </div>

          <div class="row justify-content-center">
            <div class="col-4 offset-2">
              <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="createPDFsalon()">Descargar</button>
            </div>
            <div class="col-4">
              <!-- <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="salirPagina()">Salir</button> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </mdb-tab>
  <!--Panel 3-->
  <mdb-tab heading="Resultados">
    <div class="row">

      <div class="col-12">
        <br>
        <div class="row">
          <div class="col-6">
            <h6 class="text-center">SEDE DE POSTULACIÓN</h6>
            <select #opcionPromedio (change)="seleccionSedePromedio(opcionPromedio.value)">
              <option disabled="disabled">-Seleccionar su sede-</option>
              <option *ngFor="let item of sedes" [value]="item.value">{{item.label}}</option>
            </select>
          </div>
          <div class="col-6">
            <h6 class="text-center">MENCION</h6>
            <select #mePromedio (change)="selectmencionesPromedio(mePromedio.value)">
              <option disabled="disabled">-Seleccione Mención-</option>
              <option *ngFor="let item of menciones" [value]="item.idmencion">
                {{item.mencion}}
              </option>
            </select>
          </div>



        </div>
        <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="buscar()">BUSCAR</button>
        <div *ngIf="tabla1">
          <div id="imprimirPromedio">
            <div class="header">
              <div class="logo">
                <img src="../../../../assets/img/logos/posgrado.jpg" alt="">
              </div>
            </div>

            <h4 class="text-center text-uppercase"> FACULTAD DE {{facultad2}}</h4>
            <h4 class="text-center text-uppercase"> MENCIÓN EN {{mencion2}}</h4>
            <h4 class="text-center text-uppercase"> LISTA DE MERITOS</h4>



            <table mdbTable striped="true" bordered="true">
              <thead>
                <tr>
                  <th class="numero" scope="col">N°</th>
                  <th class="dni" scope="col">DNI</th>
                  <th scope="col">APELLIDOS Y NOMBRE</th>
                  <th class="dni" scope="col">PROMEDIO</th>
                  <th class="dni" scope="col">PUNTOS</th>
                </tr>
              </thead>
              <tbody>
                <tr mdbTableCol *ngFor="let item of postulantes; let i=index">
                  <td class="numero" scope="row">{{i +1}}</td>
                  <td class="dni">{{item.dni}}</td>
                  <td class="postula">{{item.postulante | uppercase}}</td>
                  <td class="selector" #link>
                    <input type="number" (keyup.Tab)="colorear(link,item)" (click)="colorear(link,item)"
                      [(ngModel)]="item.notamodulo" #monday (keyup.enter)="editarNota(monday.value)">
                    <i #checado class="fas fa-check chekeado"></i>
                  </td>
                  <td class="text-center">{{item.notamodulo}}</td>

                </tr>
              </tbody>
            </table>

          </div>

          <div class="row justify-content-center">
            <div class="col-4 offset-2">
              <button type="button" mdbBtn color="primary" mdbWavesEffect
                (click)="createPDFPromedio()">Descargar</button>
            </div>
            <div class="col-4">
            </div>
          </div>
        </div>

      </div>




    </div>
  </mdb-tab>

</mdb-tabset>
