<!-- As a link -->
<router-outlet></router-outlet>
<footer>
    <div class="izquierdo">
        &copy;Felix ASTO & Hever FERNANDEZ 2020
    </div>
    <div class="derecho">
        Asistencia Whatsapp 967661450 | 989247271
    </div>
</footer>