<div class="container elevation">
  <div id="imprimirficha">
    <div class="header">
      <div class="logo">
        <img src="../../../../assets/img/logos/logo-unsch.png" alt="">
      </div>
      <h2 class="text-center">UNIVERSIDAD NACIONAL DE SAN CRISTOBAL DE HUAMANGA</h2>
    </div>
    <h3 class="text-center">FICHA DE INSCRIPCIÓN</h3>
    <h3 class="text-center">CONCURSO DE ADMISIÓN A POSGRADO 2020-I</h3>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-7">
        <table>
          <tbody>
            <tr>
              <th>Código</th>
              <td>{{persona.codigo}}</td>
            </tr>
            <tr>
              <th>Apellidos y Nombre</th>
              <td>{{persona.idesquela.idpostulante.apellido |uppercase}},
                {{persona.idesquela.idpostulante.nombre | titlecase }}</td>
            </tr>
            <tr>
              <th>DNI</th>
              <td>{{persona.idesquela.idpostulante.dni}}</td>
            </tr>
            <tr>
              <th>Correo</th>
              <td>{{persona.idesquela.idpostulante.correo}}</td>
            </tr>            
            <tr>
              <th *ngIf="persona.idesquela.idmencion.idmencion !== 8">Maestría</th>
              <th *ngIf="persona.idesquela.idmencion.idmencion === 8">Doctorado</th>
              <td>{{persona.idesquela.idmencion.idfacultad.denominacion |uppercase}}</td>
          </tr>  
            <tr>
              <th>Mención</th>
              <td>{{persona.idesquela.idmencion.denominacion |uppercase}}</td>
            </tr>
            <tr>
              <th>Modalidad</th>
              <td>{{persona.idesquela.modalidad |uppercase}}</td>
            </tr>
            <tr>
              <th>Sede</th>
              <td>{{persona.idesquela.sede |uppercase}}</td>
            </tr>
            <tr>
              <th>Sexo</th>
              <td>{{persona.idesquela.idpostulante.sexo |uppercase}}</td>
            </tr>
            <tr>
              <th>Fecha de inscripción</th>
              <td>{{ persona.finscripcion | date:'dd/MM/yyyy' }}</td>
            </tr>
            <tr>
              <th>Lugar de residencia</th>
              <td>{{ persona.direccion  |uppercase}}</td>
            </tr>
            <tr>
              <th>Nombre de universidad</th>
              <td>{{ persona.nombreuniv  |uppercase}}</td>
            </tr>
            <tr>
              <th>Tipo de universidad</th>
              <td>{{ persona.tipouniversidad  | universidad}}</td>
            </tr>
            <tr>
              <th>fecha obtención de grado</th>
              <td>{{ persona.fgradoobt }}</td>
            </tr>            
          </tbody>
        </table>
        <br>

      </div>

    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3 col-sm-6 offset-md-4">
      <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="createPDF()">Imprimir</button>
    </div>
    <div class="col-md-5 col-sm-6">
      <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="salirPagina()">Salir</button>
    </div>
  </div>
</div>
