table {width: 100%;font: 11px Tahoma, Geneva, Verdana, sans-serif;}
table,
th,
td {
  border: solid 1px black;
  border-collapse: collapse;
  padding-left: 5px;
}

td {
  font-size: 12px;
  font-weight: 400;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  height: 25px;
}
th{
    width: 130px;
}
.header {
  display: grid;
  grid-template-columns: 15% 75%;
}
.logo {
  img {
      width: 45%;
      height: 70%;
  }
}