<div class="wrapper">
    <div id="wizard" class="wizard">
        <div class="wizard__content">
            <header class="wizard__header">
                <div class="wizard__header-overlay"></div>

                <div class="wizard__header-content">
                    <h1 class="wizard__title">FICHA DE INSCRIPCIÓN!</h1>
                    <!-- <p class="wizard__subheading">APELLIDOS Y NOMBRE {{boucher.postulante}}</p> -->
                </div>

                <div class="wizard__steps">
                    <nav class="steps">
                        <div class="step">
                            <div class="step__content">
                                <p class="step__number"><i class="fas fa-user-tie"></i> </p>
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                  </svg>

                                <div class="lines">
                                    <div class="line -start">
                                    </div>

                                    <div class="line -background">
                                    </div>

                                    <div class="line -progress">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="step">
                            <div class="step__content">
                                <p class="step__number"><i class="fa fa-book"></i></p>
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                  </svg>

                                <div class="lines">
                                    <div class="line -background">
                                    </div>

                                    <div class="line -progress">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="step">
                            <div class="step__content">
                                <p class="step__number"><i class="far fa-address-card"></i></p>
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                  </svg>

                                <div class="lines">
                                    <div class="line -background">
                                    </div>

                                    <div class="line -progress">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>


            <div class="panels">

                <div class="panel">


                    <mdb-flipping-card #cards1>
                        <!--Front Side-->
                        <div class="face front tp-box_side tp-box_front">


                            <!--Content-->
                            <div class="card-body">
                                <h4 class="panel__title text-center text-uppercase">Datos del postulante</h4>

                                <h6 class="text-info font-weight-bold">Apellidos y Nombres</h6>
                                <p class="text-success">{{resultado.idpostulante.apellido}}, {{resultado.idpostulante.nombre}}</p>
                                <h6 class="text-info font-weight-bold">DNI</h6>
                                <p class="text-success">{{resultado.idpostulante.dni}}</p>



                                <h6 class="text-info font-weight-bold">Maestría/Doctorado</h6>
                                <p class="text-success">{{resultado.idmencion.idfacultad.denominacion}}</p>
                                <h6 class="text-info font-weight-bold">Mención</h6>
                                <p class="text-success">{{resultado.idmencion.denominacion}}</p>

                                <!-- <h6 class="text-info font-weight-bold">Código</h6>
                  <p class="text-success">{{resultado.idpostulante.codigo}}</p> -->

                                <div class="form-check">
                                    <form action="" class="formulario">
                                        <div class="md-checkbox">
                                            <input id="ideaceptado" #bienes (change)="chenckboxChangeDeclaracion(bienes)" type="checkbox" value="true" name="Declaraciongroup">
                                            <label for="ideaceptado"> Declaro bajo JURAMENTO que los DATOS <br>  que voy a consignar  serán
                          VERDADEROS</label>

                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="card-footer text-center">
                                <a class="rotate-btn" data-card="card-1" (click)="cards1.toggle()">
                                    <mdb-icon fas icon="redo"></mdb-icon> Click para información
                                </a>
                            </div>
                        </div>
                        <!--/.Front Side-->

                        <!--Back Side-->
                        <div class="back tp-box_side tp-box_back">

                            <!--Content-->
                            <h4 class="text-center text-uppercase">Informacion</h4>
                            <hr>
                            <ul class="text-left">
                                <li>
                                    La información que viene en este panel es la información que usted lleno al momento de sacar su esquela de pago
                                </li>
                                <li>
                                    La información que usted debe brindar debe ser verdadera para evitar su anulación de toda su matricula
                                </li>
                            </ul>

                            <hr>

                            <!--Triggering button-->
                            <a class="rotate-btn" data-card="card-1" (click)="cards1.toggle()">
                                <mdb-icon fas icon="undo"></mdb-icon> Click para rotar
                            </a>

                        </div>
                        <!--/.Back Side-->
                    </mdb-flipping-card>


                </div>

                <div class="panel">
                    <header class="panel__header">
                        <h4 class="panel__title text-center">DATOS DEL POSTULANTE</h4>

                    </header>
                    <div class="panel__contenT">
                        <mdb-flipping-card #cards2>
                            <!--Front Side-->
                            <div class="face front tp-box_side tp-box_front">


                                <!--Content-->
                                <div class="card-body">


                                    <h6 class="text-center ">LUGAR DE RESIDENCIA ACTUAL</h6>
                                    <div class="md-form">
                                        <input mdbInput type="text" id="direccion" [(ngModel)]="newFicha.direccion" class="form-control">
                                        <label for="direccion">Ej:AYACUCHO-HUAMANGA-CARMEN ALTO</label>
                                    </div>
                                    <h6 class="text-center">VECES QUE POSTULA CONTANDO ESTE</h6>
                                    <select #opcionVecespos (change)="seleccionVecespostula(opcionVecespos.value)">
                      <option disabled="disabled">-Veces que postula-</option>
                      <option *ngFor="let item of veces" [value]="item.value">{{item.label}}</option>
                    </select>


                                </div>
                                <div class="card-footer text-center">
                                    <a class="rotate-btn" data-card="card-1" (click)="cards2.toggle()">
                                        <mdb-icon fas icon="redo"></mdb-icon> Click para información
                                    </a>
                                </div>
                            </div>
                            <!--/.Front Side-->

                            <!--Back Side-->
                            <div class="back tp-box_side tp-box_back">

                                <!--Content-->
                                <h4 class="text-center text-uppercase">Informacion</h4>
                                <hr>
                                <ul class="text-left">
                                    <li>
                                        Lugar donde esta viviendo ahora mismo, en mayuscula con separación de un guión(-) en formato DEPARTAMENTPO-PROVINCIA-DISTRITO, Ej:AYACUCHO-HUAMANGA-CARMEN ALTO
                                    </li>
                                    <li>
                                        Información de las veces que postula a la escuela de posgrado contando este, que minino debe escoger 1.
                                    </li>
                                </ul>
                                <hr>

                                <!--Triggering button-->
                                <a class="rotate-btn" data-card="card-1" (click)="cards2.toggle()">
                                    <mdb-icon fas icon="undo"></mdb-icon> Click para rotar
                                </a>

                            </div>
                            <!--/.Back Side-->
                        </mdb-flipping-card>

                    </div>
                </div>

                <div class="panel">
                    <header class="panel__header">
                        <h4 class="panel__title" class="text-center">DATOS DE LA UNIVERSIDAD DONDE FINALIZÓ GRADO BACHILLER</h4>

                    </header>
                    <div class="panel__contenT">


                        <mdb-flipping-card #cards3>
                            <!--Front Side-->
                            <div class="face front tp-box_side tp-box_front">


                                <!--Content-->
                                <div class="card-body">


                                    <div class="md-form">
                                        <input mdbInput type="text" id="nombreuniv" [(ngModel)]="newFicha.nombreuniv" class="form-control">
                                        <label for="nombreuniv">Nombre su universidad</label>
                                    </div>
                                    <!-- <h6 class="text-center panel__title">UNIVERSIDAD DONDE FINALIZÓ GRADO BACHILLER</h6> -->
                                    <select #opcionUniversidad (change)="seleccionUniversidad(opcionUniversidad.value)">
                      <option disabled="disabled">-Tipo de universidad-</option>
                      <option *ngFor="let item of universidades" [value]="item.value">{{item.label}}</option>
                    </select>


                                    <div class="md-form">
                                        <input mdbInput type="text" id="direcuniv" [(ngModel)]="newFicha.direcuniv" class="form-control">
                                        <label for="direcuniv">Dirección (Departamento-provincia)</label>
                                    </div>
                                    <div>
                                        <div>
                                            <label for="fecha">Fecha de obtención de grado bachiller</label><br>
                                            <input id="fecha" type='date' class="form-control" [(ngModel)]="newFicha.fgradoobt">
                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer text-center">
                                    <a class="rotate-btn" data-card="card-1" (click)="cards3.toggle()">
                                        <mdb-icon fas icon="redo"></mdb-icon> Click para información
                                    </a>
                                </div>
                            </div>
                            <!--/.Front Side-->

                            <!--Back Side-->
                            <div class="back tp-box_side tp-box_back">

                                <!--Content-->
                                <h4 class="text-center text-uppercase">Informacion</h4>
                                <hr>
                                <ul class="text-left">
                                    <li>
                                        Nombre completo de la universidad donde culminó sus estudios universitarios.
                                    </li>
                                </ul>

                                <hr>

                                <!--Triggering button-->
                                <a class="rotate-btn" data-card="card-1" (click)="cards3.toggle()">
                                    <mdb-icon fas icon="undo"></mdb-icon> Click para rotar
                                </a>

                            </div>
                            <!--/.Back Side-->
                        </mdb-flipping-card>


                    </div>
                </div>
            </div>

            <div class="wizard__footer">
                <button class="button previous" type="button" mdbBtn color="primary">Anterior</button>
                <button class="button next" type="button" mdbBtn color="primary" [disabled]="mostrar" (click)="SaveOrUpdate()">Siguiente</button>
            </div>



        </div>

        <!-- <h1 class="wizard__congrats-message">
        Felicitaciones, usted a terminado su inscripción
      </h1> -->
    </div>
</div>